---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16I0ibIgCm8hkqALUV1xZDp5",
          "livemode": false,
          "created": 1435340065,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16I0ibIgCm8hkqALcVpoUjGx",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "bTwSw0fSLxQLHIUg",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "130.211.176.26"
        }
  recorded_at: Fri, 26 Jun 2015 17:34:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16I0ibIgCm8hkqALUV1xZDp5&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16I0icIgCm8hkqAL2X7KLhL1"
          }
        }
  recorded_at: Fri, 26 Jun 2015 17:34:26 GMT
recorded_with: VCR 2.9.3
