%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} MyFlix
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a{href: videos_path} Videos
          %li
            %a{href: my_queue_path} My Queue
          %li
            %a{href: people_path} People
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Welcome, #{current_user.full_name}
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: new_invitation_path} Invite a friend
              %li
                %a{href: "#"} Account
              %li
                %a{href: "#"} Plan and billing
              %li.divider{:role => "separator"}
              %li
                %a{href: sign_out_path} Sign Out