---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16IOamIgCm8hkqALoJuiUm9C&description=Sign%20up%20charge%20for%20spencer.walker%40hammesblick.name
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16IOamIgCm8hkqAL3uOAEYjh",
          "object": "charge",
          "created": 1435431836,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16IOamIgCm8hkqALymgK0EKg",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "Co17IYkKBYatKAgX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16IOamIgCm8hkqALcG8tB4z5",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for spencer.walker@hammesblick.name",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16IOamIgCm8hkqAL3uOAEYjh/refunds",
            "data": []
          }
        }
  recorded_at: Sat, 27 Jun 2015 19:03:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16N7kSIgCm8hkqALFZcS6drH&plan=tomtl-myflix-monthly-plan&email=celia%40watsicagoldner.org
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436558729,
          "id": "cus_6aILhZkCWUrxQy",
          "livemode": false,
          "description": null,
          "email": "celia@watsicagoldner.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6aILhZkCWUrxQy/subscriptions",
            "data": [
              {
                "id": "sub_6aILGefmd0Imr4",
                "plan": {
                  "interval": "month",
                  "name": "Monthly plan - standard",
                  "created": 1436467935,
                  "amount": 999,
                  "currency": "usd",
                  "id": "tomtl-myflix-monthly-plan",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix subscription"
                },
                "object": "subscription",
                "start": 1436558729,
                "status": "active",
                "customer": "cus_6aILhZkCWUrxQy",
                "cancel_at_period_end": false,
                "current_period_start": 1436558729,
                "current_period_end": 1439237129,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6aILhZkCWUrxQy/sources",
            "data": [
              {
                "id": "card_16N7kSIgCm8hkqALuJUA909C",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "Co17IYkKBYatKAgX",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6aILhZkCWUrxQy"
              }
            ]
          },
          "default_source": "card_16N7kSIgCm8hkqALuJUA909C"
        }
  recorded_at: Fri, 10 Jul 2015 20:05:29 GMT
recorded_with: VCR 2.9.3
