---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16JCjqIgCm8hkqALSlCXtGCX&description=Sign%20up%20charge%20for%20jan%40marvin.name
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_16JCjqIgCm8hkqAL0EL8yUpa"
          }
        }
  recorded_at: Tue, 30 Jun 2015 00:36:38 GMT
recorded_with: VCR 2.9.3
