---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16JCjtIgCm8hkqALx5b4WOOY&description=Sign%20up%20charge%20for%20amir_davis%40kuvalis.net
    headers:
      Authorization:
      - Bearer sk_test_OyguaVei81Gg7bCwTjl5BO7l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_16JCjuIgCm8hkqALavAouLow"
          }
        }
  recorded_at: Tue, 30 Jun 2015 00:36:42 GMT
recorded_with: VCR 2.9.3
